<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bazar_list{
            top: 50px;
        }
    </style>
</head>
<body>
<div class="container" id="app">

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 content col-md-offset-4 bazar_list">
            <h3 class="text-center">Bazar List</h3>
            <div >
                <form @submit.prevent="addItem" >
                    <input type="text" class="form-control" v-model="newItem">
                </form>
                <br>
                <ul class="list-group">
                    <li v-for="(item,index) in items"  :key="index " class="list-group-item">
                        {{item.name}}- <input v-model="item.price" class="form-control"><br>
                        <button class="btn btn-danger btn-sm" @click="removeItem(index)">Remove</button>
                    </li>
                    <li class="list-group-item">Total - {{total}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>


<script>
    new Vue({
        el: '#app',
        data: {
            items:[
                {name : 'rice', price: '60'},
                {name : 'wheat', price: '50'},
            ],
            newItem:''
        },
        computed:{
            total(){
                var total = 0
                this.items.forEach(item=>{
                    total += parseFloat(item.price)
                })
             return total
            }
        },
        methods:{
            addItem(){
                this.items.push({
                    name:this.newItem,
                    price:0
                })
            },

            removeItem(index){
                this.items.splice(index,1)
            }
        }
    })
</script>

</body>
</html>